# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
data_df = pd.read_csv("city_weather.csv")
data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,arraial do cabo,-22.97,-42.03,77.000,83.0,82.0,6.70,BR,08-18-2020
1,port elizabeth,-33.92,25.57,51.800,81.0,59.0,12.30,ZA,08-18-2020
2,the pas,53.83,-101.25,78.800,61.0,1.0,2.99,CA,08-18-2020
3,new norfolk,-42.78,147.06,41.000,83.0,57.0,0.95,AU,08-18-2020
4,chokurdakh,70.63,147.92,33.800,92.0,59.0,2.75,RU,08-18-2020
...,...,...,...,...,...,...,...,...,...
554,olafsvik,64.89,-23.71,56.120,81.0,0.0,5.23,IS,08-18-2020
555,achhnera,27.18,77.77,89.870,64.0,10.0,2.73,IN,08-18-2020
556,sovetskaya gavan,48.97,140.29,60.908,91.0,98.0,2.56,RU,08-18-2020
557,bay roberts,47.60,-53.26,60.998,47.0,100.0,8.66,CA,08-18-2020
558,manaure,11.78,-72.44,85.046,71.0,76.0,6.05,CO,08-18-2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = data_df[["Lat", "Lng"]]
fig = gmaps.figure()
Humidity = data_df["Humidity"]
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
vacation_df = data_df[(data_df["Max Temp"]<80)
               & (data_df["Max Temp"]>70) & (data_df["Wind Speed"]<10) & (data_df["Cloudiness"]==0)]

In [6]:
vacation_df = vacation_df.dropna()

In [7]:
vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
20,goderich,43.75,-81.72,71.006,75.0,0.0,4.02,CA,08-18-2020
32,rikitea,-23.12,-134.97,71.870,80.0,0.0,5.36,PF,08-18-2020
49,atuona,-9.80,-139.03,79.034,75.0,0.0,9.59,PF,08-18-2020
79,hede,33.77,120.25,74.948,96.0,0.0,2.92,CN,08-18-2020
98,margate,51.38,1.39,71.006,73.0,0.0,0.89,GB,08-18-2020

In [8]:
params = {
    "radius" : 5000,
    "type"   : "lodging",
    "key"    : g_key
}

In [9]:
hotel_df = vacation_df
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"]=f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (KeyError, IndexError):
        print("Hotel not found. Skipping.....")

Hotel not found. Skipping.....
Hotel not found. Skipping.....

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
20,goderich,43.75,-81.72,71.006,75.0,0.0,4.02,CA,08-18-2020,Harmony Inn
32,rikitea,-23.12,-134.97,71.870,80.0,0.0,5.36,PF,08-18-2020,Pension Maro'i
49,atuona,-9.80,-139.03,79.034,75.0,0.0,9.59,PF,08-18-2020,Villa Enata
79,hede,33.77,120.25,74.948,96.0,0.0,2.92,CN,08-18-2020,Vienna 3 Best Hotel Sheyang Jiefang Rd
98,margate,51.38,1.39,71.006,73.0,0.0,0.89,GB,08-18-2020,Premier Inn Margate hotel

In [15]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))